
/* Damos estilos a un elemento utilizando como referencia su atributo */
a[title]{

    color: brown;
}

/* Damos estilos a un elemento utilizando como referencia su id */
#p-1{
    background-color: aqua;
}

/* Damos estilos a un elemento utilizando como referencia su atributo y que coinicda con un valor en particular*/
a[href=""]{
border: solid 1px red;
}

/* *{
    border: solid 3px rgb(153, 0, 255);
    font-family: 'courier';
} */

.bg-purple{
    background-color: rgb(233, 144, 255);
}

.bg-yellow{
background-color: rgb(253, 255, 133);
}

/* .text-red{
    color: red;
}

#title{
    color: rgb(153, 0, 255);
} 

h1{
    color: green;
} */


/* div{
    background-color: red;
} */

/* span{
    background-color: green;
}
*/

button{
    border: 0;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-radius: 20x;
}

.card{
    border: solid 1px rgb(255, 213, 134);
    padding: 20px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    border-radius: 50px;
}

*{
   
    font-family: sans-serif;
}

.title{
color: blueviolet;
}
.subtitle{
color: #ffa700;
margin: 5px 0;
}

a{
    margin: inline block;
}

/*aplicamos estilos a los elementos que esten dentro del elemento de clase card*/

.card a {
    margin-top: 20px;
    margin-right: 20px;

}

p{
    line-height: 1,4;
}




















