    *{
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
    
}
img{
    max-width: 100%;
}


/* Navegacion */
.menu li{
    display: inline-block;
    padding: 15px 20px;
}
.menu a {
    color: #717171;
}

/* Intro */
.intro{
    background-color: #fef2f2 ;
    min-height: 100vh;
}

h1{
    font-size: 40px;
    font-weight: 600;
}
.icon-container{
    display: inline-block;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
    line-height: 3.2;
    text-align: center;
}
.container{
    width: 90%;
    margin: auto;
}


